{% extends 'base.html' %}
{% load static %}
<title>{% block title%}ChangePWD | Multikart{% endblock %}</title>
{% block content %}



    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Change password</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'accounts:login' %}">login</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


    <!--section start-->
    <section class=" section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <center>
                        <h2>Change Your Password</h2>
                    </center>
                    <form class="theme-form" method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label>NEW PASSWORD</label>
                            <input name="password" type="password" class="form-control"  placeholder="New Password" required="">
                            {% if error %}
                            <ul>
                                {% for e in error %}
                                <li style="color: red;">{{e}}</li><br>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="review">CONFIRM NEW PASSWORD</label>
                            <input name="confirm_password" type="password" class="form-control" placeholder="Confirm New Password" required="">

                        </div>
                        <center>
                            <button type="submit" class="btn btn-solid">Change</button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->

{% endblock %}